<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to site_title, root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li class="sign-up">
          <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% else %>
            <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>