<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="errors">
      <p> <%= pluralize(@article.errors.count, "error") %> prevented this article from saving.</p>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  <p>

  <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
  </p>

  <p>
      <%= f.submit %>
  </p>
<% end %>